@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717; 
  --foreground: #ededed; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF; 
    --foreground: #171717; 
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* @font-face {
  font-family: 'Work Sans';
  /* src: url('/path/to/your/font.woff2') format('woff2'),
       url('/path/to/your/font.woff') format('woff'); */
  /* font-weight: 300 600;
  font-style: normal; */
/* } */

@layer utilities {
  .bg-\[url\(\'\/assets\/footer-bg\.png\'\)\] {
    background-image: url('/assets/footer-bg.png');
  }

  .startup-card {
    @apply text-black-200 hover:text-white-100 border-[3px] hover:border-black border-transparent py-10 px-5 shadow-md transition-all duration-500 hover:bg-secondary;
  }

  .button-primary {
    @apply px-14 py-4 border-2 text-20-medium shadow-md transition-all duration-500;
  }

  .image {
    @apply border-solid border-2  rounded-lg shadow-xl w-full;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold ;
  }

  .text-30-bold {
    @apply text-[30px] font-bold ;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] ;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-white;
  }

  .text-24-black {
    @apply text-[24px] font-black text-white;
  }

  .text-20-medium {
    @apply font-medium text-[20px] ;
  }

  .text-16-medium {
    @apply font-medium text-[16px];
  }

  .text-14-normal {
    @apply font-normal text-sm text-black/80;
  }

  .heading {
    @apply uppercase px-6 py-3 font-extrabold sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply font-medium text-[20px] max-w-2xl break-words;
  }

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-white text-sm font-normal;
  }
}
